* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}
body{
	background: #4677f6;
	font-family: 'Roboto', sans-serif;
}
a img{
	display: block;
}
.clear{
	clear: both;
}
.contianer{
	width: 450px;
	height: 690px;	
	margin: 150px auto;
	background-color: #fff;
	position: relative;
}
.gps-nav-bar{
	padding: 30px 0 0 30px;
	margin-bottom: 47px;
}
.gps-menu{
	float: left;
	opacity: 0.4;
	transition: all 0.4s ease;
}
.gps-menu:hover{
	opacity: 1;
}
.gps-nav-bar>h4{
	float: left;
	margin-left: 34%;
	padding-top: 5px;
	letter-spacing: -0.9px;
	font-weight: 400;
}
.gps-search{
	float: right;
	padding-right: 30px;
	opacity: 0.4;
	transition: all 0.4s ease;
}
.gps-search:hover{
	opacity: 1;
}
.map-addres{
	padding: 190px 0 0 30px;
}
.map-block{
	width: 470px;
	height: 150px;
	padding: 39px 0 0 42px;
	font-size: 20px;
	color: #fff;
	position: absolute;
	border-radius: 5px;
	background: -webkit-linear-gradient(top, rgba(70,119,246,0.7) 0%,rgba(70,119,246,0.7) 100%), url(img/map.png);
	background-size: cover;
	background-repeat: no-repeat;
	left: -12px;
}
.map-cars{
	position: relative;
	margin-bottom: 35px;
}
.hamburg{
	float: left;
	position: relative;
}
.hamburg:after{
	content: '';
	position: absolute;
	color: red;
	left: 90px;
	top: 9px;
	width: 65px;
	height: 2px;
	background-color: #fff;
}
.hamburg:before{
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	color: red;
	left: 85px;
	top: 6px;
	background-color: #fff;
}
.cologne:after{
	content: '';
	position: absolute;
	color: red;
	left: 150px;
	opacity: 0.4;
	top: 9px;
	width: 155px;
	height: 2px;
	background-color: #fff;
}
.cologne:before{
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	color: red;
	left: 303px;
	top: 6px;
	background-color: #fff;
}
.map-block-cars>a>img{
	position: absolute;
	width: 18px;
	height: 18px;
	left: 145px;
	top: -13px;
}
.cologne{
	float: right;
	padding-right: 36px;
}
.map-km{
	display: inline-flex;
	position: relative;
}
.map-km>div{
	margin-right: 95px;
	font-size: 15px;
	text-transform: uppercase;
}
.map-km>div>span{
	text-transform: capitalize;
}
.map-km>button{
	position: absolute;
	width: 129px;
	height: 42px;
	top: 47px;
	left: 272px;
	text-transform: uppercase;
	font-size: 14px;
	background-color: #4677F6;
	color: #fff;
	border: none;
	padding-bottom: 4px;
	padding-left: 12px;
	font-weight: bold;
	transition: all 0.4s ease;

}
.map-km>button>img{
	width: 15px;
	height: 15px;
	position: relative;
	top: 4px;
	left: -11px;

}
.map-km>button:hover{
	background: #618CF6;
}
.map-addres>h4{
	margin-bottom: 25px;
}
.maps-addres-item{
	font-size: 14px;
	padding-left: 55px;
	margin-bottom: 28px;
	position: relative;
}
.maps-addres-item:before{
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	background-image: url(img/direction.svg);
	background-size: cover;
	left: -1px;	
	top: 8px;
}
.maps-addres-item.active:before{
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	background-size: cover;
	z-index: 99;
	background-image: url(img/marker.svg);
	top: 25px;
	left: -1px;
}
.km{
	color: #C0C0C0;
	font-size: 13px;
	margin-bottom: 7px;
}
.maps-addres-item.active{
	margin-bottom: 130px;
}
.maps-addres-item.active>div{
	width: 430px;
	height: 70px;
	background-image: url(img/streetview.jpg);
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -85px; 
	left: -10px;
	top: 4px;
}